/* General CSS Settings */
body {
    background-color: #fffecc;
    margin: 0;
    padding: 0;
}

.sidebar {
    border: 6px solid #840;
    border-radius: 9px;
    box-shadow: 2px 3px 5px #0b0a0a;
    margin: 0.2em;
    padding: 0.5em;
    background-color: white;
}
.panel {
    border: 6px solid #840;
    border-radius: 9px;
    box-shadow: 2px 3px 5px #0b0a0a;
    margin: 0.2em;
    padding: 0.5em;
    background-color: white;
}

.sidebar h2 {
    text-align: center;
    margin-top: 2px;
}
.left {
    float: left;
    clear: left;
}

.right {
    float: right;
    clear: right;
}

#right-panel {
    float: right;
    max-width: 35%;
}


#novena img {
    width: 95%;
    text-align: center;
    clear: both;
    padding: 4px;
}
#page-header {
    /* background-color: #fafa19; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 5px 0;
    font-family: sans-serif;
}

#page-header h1 {
    height: 1.5em;
    font-weight: bold;
    margin: 0;
    background-color: #840;
    color: white;
    overflow: hidden;
}
#top-menu-bar {
    height: 1.5em;
    background-color: #221000;
    color: white;
    width: 100%;
    padding: 0.3em;
}

#page-header + * {
    margin-top: 1em;
}

#top-menu-bar .menu-item {
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    padding-right: 1.5em;
    color: white;
    text-decoration: none;
}

#top-menu-bar .menu-item > a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}
