/* General CSS Settings */
body {
    
}

.sidebar {
    border: 6px solid blue;
    border-radius: 9px;
    box-shadow: 2px 3px 5px red;
    max-width: 20%;
}

.sidebar h2 {
    text-align: center;
    margin-top: 2px;
}
.left {
    float: left;
    clear: left;
}